<!DOCTYPE html>
<html>
  <body>
    <h1>Article</h1>
    <% @article.each do |article| %>
      <strong><%= article.title %></strong><br />
      <%= article.content %>
      <br /><br />
    <% end %>
  </body>
</html>